* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background: #1d1d1d;
  margin: 2px;
  transition: 2s ease;
  box-shadow: 0 0 #eee;
}

.square:hover {
  transition-duration: 0s;
}